.Project{
    overflow: hidden;
}
.Project-title{
    text-align: center;
    font-size: 4rem;
    margin: 23px auto;
    padding: 3px 24px;
    font-weight: 900;
    text-transform: uppercase;
}
.Project-title span{
    color: #4ec6e7b5;
}
.project-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 13px auto;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.Projects_tile{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 20px;
    gap: 2rem;
}
.contain{
    display: flex;
    position: relative;
    margin-top: 23px;
    width: 350px;
    height: 330px;
    box-shadow:0 10px 20px rgb(40, 40, 40);
    border-radius: 13px;
}
.image {
    width: 100%;
    height: 100%;
    border-radius: 13px;  
}
.overlay{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: #000;
    cursor:pointer;
}

.content{
    position:absolute;
    top:0%;
    left: 0%;
    transform: translate(-50% 50%);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.contain:hover .overlay{
    opacity: 0.8;
    border-radius: 13px;  
}

.proj-title{
    font-size: 17px;
    color: #FF00FF;
    text-transform: uppercase;
    text-align: center;
    margin: 13px auto;
}
.proj-desc{
    text-align: center;
    padding: 7px;
    font-size: 18px;
}
.proj-link{
    outline: none;
    background-color: #FDCE2A;
    color: black;
    padding: 5px 25px;
    margin-top: 12px;
}
.proj-link a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 16px;
    color:#000;
    font-weight: bold;
}
.filter-button{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.filter-button button{
    outline: none;
    background-color: #4ec6e7b5;
    color: black;
    padding: 5px 25px;
    margin: 0px 20px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}
.filter-button button:hover{
    background: none;
    border: 5px solid #4ec6e7b5;
    transition: ease-in-out;
}

@media screen {
    .project-text{
        text-align: center;
        margin: 0px 23px;
    }
    .filter-button button{
        display: flex;
        flex-direction: column;
        margin-top: 13px;
        margin-bottom: 16px;
    }
    .Projects_tile{
        padding: 3px;
    }
}